* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header{
  display: block;
  margin: 0;
  width: 100%;
  height: 10vh;
  background-color: lightgray;
  text-align: center;
  border: 5px solid black;
  line-height: 10px;
}

body{
  position: relative;
  display: inline-block;
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

main{
  display: inline-block;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -75;
}

h1{
  text-align: center;
  font-size: 50px;
}

div{
  margin: 0;
}

#gameContainer img{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.sidebar{
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  height: 100%;
  width: 20%;
}

.turnTeller{
  margin: 20px auto;
}
.turnTeller img{
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.cell{
  position: absolute;
  width: 33.33%;
  height: 33.33%;
}
.cell:hover{
  border: 1px solid red;
}

.grid{
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}

.topBoard{
  position: 'absolute';
  width: 100%;
  height: 100%;
}

#coreElement{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  z-index: -100;
}

#gameContainer{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 1vw;
  border: 3px solid black;
  width: 60vw;
  height: 60vw;
  max-width: 90vh;
  max-height: 90vh;
}
